<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "breakout.flo203.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Break Out</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap.
    </description>

    <author href="http://scratch.mit.edu/users/Flo203" email="flo203yt@gmail.com">
        Flo203
    </author>

</widget>
